@page "/fetchdata"
@using MoveM8s.Data
@using MoveM8s.Data.Dtos;
@inject WeatherForecastService ForecastService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Weather</th>
                <th>Precipitation</th>
                <th>Temp.</th>
                <th>Wind</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var forecast in forecasts)
            {
                <tr>
                   <td>@forecast.Time</td>
                    <td>@forecast.Weather</td>
                    <td>@forecast.PrecipitationCategory</td>
                    <td>@forecast.TemperatureC</td>
                   <td>@forecast.WindSpeed </td> 
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<WeatherForecastResponseDto>? forecasts;
    private string lon = "12.939743";
    private string lat = "57.725234";

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(lon,lat);
    }
}
